<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "My Rails MVC", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home |", root_path %></li>
        <li><%= link_to "Overview |", '/overview' %></li>
        <li><%= link_to "Model |", '/model' %></li>
        <li><%= link_to "View |", '/view' %></li>
        <li><%= link_to "Controller |", '/controller' %></li>
        <li><%= link_to "Notes |", notes_path %></li>
        <!--<li><%= link_to "Post |", '/notes/new' %></li>-->
      </ul>
    </nav>
  </div>
</header>